<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1cd7551525.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'partials/header' %>
    <main>
      <p id="notice">
        <% flash.each do |message_type, message| %>
          <%= message %>
        <% end %>
      </p>
      <div class="container px-5 px-sm-0">
        <div class="row">
          <% if current_user && !@hide_user_info %>
          <%= render 'partials/sidebar', show_other_user: @show_other_user, user: @user, book: @book %>
          <% end %>
          <div class="col-md-8 offset-md-1">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render 'partials/footer' %>
  </body>
</html>
